<div class="row">
  <div class="col-sm-3">
    <app-search [filters]="filters" [controls]="['title', 'price']"></app-search>
  </div>
  <div class="col-sm-9">
    <select (change)="updateFilters($event.target.value)">
      <option class="form-control"
        *ngFor="let opt of [2,5,10]">
        {{opt}}
      </option>
    </select>

    <ngb-pagination
      [collectionSize]="120"
      [(page)]="page"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"></ngb-pagination>

    <app-datagrid
      [config]="['title', 'imgSrc', 'price']"
      (removeEvent)="removeItem($event)"
      [items]="items"></app-datagrid>
<!--control spaca i wsakuje remove event-->
  </div>
</div>
