<div class="row">
  <div class="col-sm-3">
    <app-search [filters]="filters" [controls]="['title', 'price']"></app-search>
  </div>
  <div class="col-sm-9">

    <div class="row">
      <div class="col-2">
        <select
          class="form-control"
          [value]="filters.value.itemsPerPage"
          (change)="updateFilters('itemsPerPage', $event.target.value)">
          <option
            *ngFor="let opt of [2,5,10]">
            {{opt}}
          </option>
        </select>
      </div>

      <div class="col-2">
        add
      </div>

      <div class="col-2">
        <app-add-item [newItem]="newItem"></app-add-item> <!---->
      </div>

      <div class="col-8">
        <!--jak to wylicza ile kafelkow? -> -->
<!--jak klikamy w paginacje chcemy zauktalizowac filtry updatefilters a fetch sie sam wykona-->
        <!--iii: {{total/filters.getValue().itemsPerPage}}-->
        <ngb-pagination
          [collectionSize]="total"
          [pageSize]="filters.value.itemsPerPage"
          [maxSize]="50"
          [rotate]="true"
          (pageChange)="updateFilters('currentPage', $event)"
          [ellipses]="false"
          [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>





    <app-datagrid
      [config]="['title', 'imgSrc', 'price']"
      (removeEvent)="removeItem($event)"
      [items]="items"></app-datagrid>
<!--control spaca i wsakuje remove event-->
  </div>
</div>
