<ng-template #content>



<!--
  <div class="modal-header">
    add item
  </div>
  <div class="modal-body">
    item: {{item}}
    <form>
      <input type="text"
             ng-model="item.title"
             placeholder="title"
             class="form-control">
      <input type="text"
             ng-model="item.description"
             placeholder="description"
             class="form-control">
      <input type="text"
             ng-model="item.price"
             placeholder="price"
             class="form-control">
      <select ng-model="item.category" class="form-control">
        <option value="food">food</option>
        <option value="clothes">clothes</option>
      </select>
      <button ng-click="ok(item)">ok</button>
    </form>
  </div>
  <div class="modal-footer">
    fooot
  </div>-->
  <div class="modal-header" >
    add item
  </div>
  <div class="modal-body">
    <div class="alert alert-success">
      form: {{newItemForm.value|json}}
    </div>

    <form #newItemForm="ngForm"> <!--jezeli chcesz zeby to byl formularz angularowy i tworzyl obiekt z dnaymi formularza robisz to wlasnie tak, obiekt typu ngForm o nazwie newItemForm, to jest z angulara jedynki wiec troch einaczej-->
      <input type="text"
             ngModel
             name="title"
             placeholder="title"
             required
             class="form-control"> <!--zeby byla walidacja musi byc required-->
      <div class="badge badge-danger">
        {{newItemForm.controls['title']?.errors|json}} <!--to wyswietli nam blad--><!--formularz powstaje z opoznieniem a my juz sie odwolujemy-->
      </div> <!--za chwile zrobimy walidacje po stronie serwera-->
      <input type="text"
             ngModel
             name="description"
             required
             minlength="5"
             placeholder="description"
             class="form-control">
      <div class="badge badge-danger"
           *ngIf="newItemForm.controls['description']?.errors">
              pole wymagane <!--to wyswietli nam blad--><!--formularz powstaje z opoznieniem a my juz sie odwolujemy-->
      </div>
      <input type="text"
             ngModel
             name="price"
             required
             minlength="2"
             placeholder="price"
             class="form-control">
      <div class="badge badge-danger"
            *ngIf="newItemForm.controls['price']?.hasError('required')"> <!--lepiej zeby miec komponent ktory zrobi fora  po errorach i je wylistuje, tu jest za duzo kodu-->
             pole wymagane dla pricea<!--to wyswietli nam blad--><!--formularz powstaje z opoznieniem a my juz sie odwolujemy-->
      </div>
      <div class="badge badge-danger"
           *ngIf="newItemForm.controls['price']?.hasError('minlength')">
            za krotko<!--to wyswietli nam blad--><!--formularz powstaje z opoznieniem a my juz sie odwolujemy-->
      </div>

      <select ngModel name="category" class="form-control">
        <option value="food">food</option>
        <option value="clothes">clothes</option>
      </select>
      <button (click)="onClick(newItemForm)">ok</button> <!--tu musimy przekazac formularz ktorego jeszcze nie ma-->
    </form>
  </div>
  <div class="modal-footer">
    foot
  </div>





</ng-template>

<button (click)="openModal(content)">add</button> <!--klikniecie w przyciks spowoduje wywolanie subsriba w parencie, items component dodaje loga--> <!--przekazujemy content bez hasha-->
