<div class="container-fluid" [appSetColor]="'red'">

  <app-auth></app-auth>

  <nav class="nav nav-tabs mt-2 mb-2"> <!--margin top i bottom-->
    <a class="nav-itme nav-link"
       routerLinkActive="acitve"
       routerLink="items">items</a>
    <a class="nav-itme nav-link"
       routerLinkActive="acitve"
       routerLink="register-form">register form</a> <!--nic nie zwiazanego z angularem-->
    <a class="nav-itme nav-link"
       routerLinkActive="acitve"
       routerLink="workers">workers</a>
  </nav>

  <router-outlet></router-outlet>

</div>
