<div class="alert alert-info">
  {{registerForm.value|json}}
  <br>
  {{registerForm.valid}}
</div>

<form [formGroup]="registerForm">
  <div class="form-group"><input type="text" formControlName="name"></div>


<div class="form-control">  <input type="date" formControlName="birthDate"></div> <!--ctrl alt t - soruuound with tag-->
  <div class="badge badge-danger">
    {{registerForm.get('birthDate')?.errors|json}}
  </div>

  <div class="form-control">
  <input type="text" formControlName="pesel"></div>
  <div class="badge badge-danger">
    {{registerForm.get('pesel')?.errors|json}}
  </div>


</form>
