config: {{config}} <!--w tych nawiascdh wartosci ale nie jako vartosci do atrybutu np value-->
<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let head of config">
        {{head}}
      </th>
      <th>
        actions
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
<!--      <td>
        {{item.title}}
      </td>
      <td>
        <img [src]="item.imgSrc" width="50">
      </td>-->

      <td *ngFor="let key of config">
        <div [ngSwitch]="key">
          <div *ngSwitchCase="'imgSrc'">
            <img [src]="item[key]" width="50">
          </div>
          <div *ngSwitchCase="'price'">
            <input class="formControl" type="text" value="{{item[key]}}">
            <!--[value]="item[key]" anuglar 2-->
            <!--value={{item[key]}} angular 1-->
          </div>
          <div *ngSwitchDefault>
            {{item[key]}}
          </div>

        </div>

      </td>
      <td>
        <button class="btn-danger" (click)="remove(item.id)">
          delete
        </button>
      </td>

    </tr>

  </tbody>

</table>
